{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/flow"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["transform-format-message", {
      "generateId": "underscored_crc32",
      "inline": false
    }]
  ]
}
