{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "no-console": "off",
    "no-restricted-syntax": [
      "error",
      {
          "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
          "message": "Unexpected property on console object was called"
      }
    ],
    "no-irregular-whitespace": ["error", { "skipTemplates": true }]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "overrides": [
    {
      "files": ["webpack.*.js"],
      "rules": {
        "immutable/no-mutation": "off",
        "no-undef": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "16.8.1",
      "flowVersion": "0.93.0"
    }
  }
}
